body {
    font-family: Arial, sans-serif;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px;
    font-weight: bold;
  }
  
  #resultado {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  